html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 48px;
  color: #fff;
}

.small {
  font-size: 14px;
  text-align: center;
}
